th.rotate {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    height:10px;
    width: 40px;
    writing-mode:tb-rl;
    white-space: nowrap;
    padding-bottom: 50px
  }