@(message: String, order: Order)(implicit lang: Lang)

@import views.helper.ViewHelper._

@main("IPSpresso") {

	<div class="jumbotron">
		<h1>@message</h1>
        <p>The IPSWAYS play framework meetup demo application. => messages</p>
        <p>Due Date: @formatJodaDateTime(order.dueDate, Messages("date.format"))</p>
	</div>
	<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>User</th>
			@for(coffee <- order.availableCoffees) { 
				<th class="rotate" style="padding-bottom: 50px;">@coffee.name</th>
			}
		</tr>
		</thead>
		<tbody>
			@for(userOrder <- order.userOrders) {
				<tr>
					<td>@userOrder.user</td>
					@for(coffee <- order.availableCoffees) { 
						<td>
							@userOrder.userOrderItems.find(_.coffee.name == coffee.name) match {
								case Some(o) => { @o.amount }
								case None => { 0 }
							}
						</td>
					}
				</tr>	
			}
		</tbody>
	</table>
	</div>	
}
